{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block sidebar %}
    <a class="active" href="{{ url_for('main_page') }}">Home</a>
    <a href="{{ url_for('containers') }}">Containers</a>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <br>
  <br>
  <div class="tiles-container">
    <div class="tile-4">
        <h3 class="tile_text">Containers Number</h3>
        <h1 class="tile_text">{{data[0]}}</h1>
    </div>
    <div class="tile-4">
        <h3 class="tile_text">Top CPU usage</h3>
        <br>
        <h1 class="tile_text">{{data[1]}}</h1>
    </div>
    <div class="tile-4">
        <h3 class="tile_text">Top Memory usage</h3>
        <h1 class="tile_text">{{data[2]}}</h1>
    </div>
    <div class="tile-4">
        <h3 class="tile_text">Last entry</h3>
        <br>
        <h1 class="tile_text">{{data[3].strftime("%Y-%m-%d %H:%M:%S")}}</h1>
    </div>
  </div>
{% endblock %}